<div class="container">
<table class="table">
 <thead>
  <tr>
   <th scope="col">Name</th>
   <th scope="col">Description</th>
   <th scope="col">Price</th>
   <th scope="col">Enrollment</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course|%>
  <tr>
   <td><%= course.name %></td>
   <td><%= course.description %></td>
   <td><%= course.price %></td>
   <td><%= link_to "Enroll", users_enrollments_path(course_id: course.id), data: { "turbo-method": :post } %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
</div>
