<div class="container">
<strong>Name:</strong>
<%= @lesson.name %>
<strong>Description:</strong>
<%= @lesson.description%>
<strong>Content:</strong>
<%= @lesson.content%>

<%= link_to 'back', lessons_path %>
</div>
