<div class= "container">
  <strong>Name:</strong>
  <%= @course.name %>
  <strong>Description:</strong>
  <%= @course.description %>
  <strong>price:</strong>
  <%= @course.price%>
 <%= link_to 'Back', courses_path %>
</div>
